<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../estilos/favp.css">
    <link rel="stylesheet" href="../estilos/mainp.css">
    <link rel="stylesheet" href="../estilos/artist.css">
    <link rel="stylesheet" href="../estilos/landingp.css">
    <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
</head>
<body>
    <header class="header mp-header">
        <div class="mp-logo">
            <div class="logo-size">
            </div>
        </div>
        <div class="h-input">
            <input type="search" placeholder="Search" class="input-size">
        </div>
        <div class="h-button">    
            <button class="secondary-button">Account</button>
        </div>
    </header>
    <div class="banner fp-banner">
        <div class="mp-links">
            <a href="./Main.html"><div class="main-icon home"></div>Home</a>
            <a href="./Favorite.html"><div class="main-icon like"></div>Favorites</a>
        </div>
        <h1 class="fp-banner-title">Your favorite artists</h1>
    </div>  
    <div class="b"></div>
    <div class="mp-content">
        <div>
            <h2 class="mp-h2">Artists</h2>
        </div>
            <div class="artists-container">
                <div class="artist-pic">
                    <div class="a2 a-image"></div>
                    <span>
                        <div class="a-name">Demi Lovato</div>
                        <div class="secondary-icon liked"></div>
                    </span>
                </div>
            </div>
        </div>
        <div class="artist-info">
            <div class="a-info-container">
                <div class="artist-image"> 
                </div>
                <div class="artist-content">
                    <div class="a-title">
                        <h1 class="a-h-name">Demi Lovato</h1>
                        <p><h3 class="a-type">Artist</h3></p>
                    </div>
                    <h2 class="ac-h2">Popularity</h2>
                    <p>89</p>
                    <h2 class="ac-h2">Followers</h2>
                    <p>23,227,116</p>
                    <h2 class="ac-h2">Genres</h2>
                    <div class="genres">
                        <p class="genre">Pop</p>
                        <p class="genre">Pop-Rock</p>
                        <p class="genre">R&B</p>
                    </div>
                </div>
                <div class="icons">
                    <div class="main-icon close"></div>
                    <div class="main-icon like"></div>
                </div>
            </div>
    
        </div>
</body>
</html>