<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../estilos/favp.css">
    <link rel="stylesheet" href="../estilos/mainp.css">
    <link rel="stylesheet" href="../estilos/artist.css">
    <link rel="stylesheet" href="../estilos/landingp.css">
    <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
</head>
<body onload="LoadFav()">
    <header class="header mp-header">
        <div class="mp-logo">
            <div class="logo-size">
            </div>
        </div>
        <div class="h-input">
            <input type="search" placeholder="Search" class="input-size">
        </div>
        <div class="h-button">    
            <button class="secondary-button">Account</button>
        </div>
    </header>
    <div class="banner fp-banner">
        <div class="mp-links">
            <a href="./Main.html"><div class="main-icon home"></div>Home</a>
            <a href="./Favorite.html"><div class="main-icon like"></div>Favorites</a>
        </div>
        <h1 class="fp-banner-title">Your favorite artists</h1>
    </div>  
    <div class="b"></div>
    <div class="artists-container" id="artist-container">
   
    </div>
    <script src="../scripts/Favorite.js"></script>
</body>
</html>