<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="../estilos/Sign In Page.css">
    <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
    <header class="header lp-header">
        <div class="logo">
            <div class="logo-size">
            </div>
        </div>
    </header>
</head>
    <body>
        <div class="landscape">
            <div id="background"></div>
            <div class="box">
                <h1>Register for free</h1>
                <div class="line">
                    <div class="category">
                        <h3>Username</h3>
                        <input type="text" class="writeblock" id="username"/>
                    </div>
                </div>
                <div class="line">
                    <div class="category">
                        <h3>E-mail</h3>
                        <input type="email" class="writeblock" id="email"/>
                    </div>
                </div>
                <div class="line">
                    <div class="category">
                         <h3>Password</h3>
                         <input type="password" class="writeblock" id="password"/>
                    </div>
                </div>
                <div class="justtext">
                    <input type="button" class="writeblock" id="terms"><p>I agree with the&nbsp;</p><a> Terms and Conditions</a><p>&nbsp; and&nbsp;</p><a> Privacy Policy</a><p>&nbsp; of Spotify</p></div>
                    <button id="create" onclick="createUserAccount()">Sign up</button>
                    <div class="justtext"><p>You already have an account?</p></div>
                    <div class="justtext"><a href="./login.html">Log in</a><p>&nbsp; here</p></div>
                </div>
            </div>
        </div>
        <script src="../scripts/signin.js"></script>
    </body>
</html>